#gameboard p {
  display: none;
  color: rgb(3, 90, 203);
  font-size: 1.1rem;
}

#player-turn {
  font-size: 1.5rem;
  font-weight: bold;
}

#gameboard {
  margin-top: 5rem;
}

div#container {
  display: none;
  grid-template-columns: auto auto auto;
  justify-items: center;
  justify-content: center;
}

div.board {
  width: 5rem;
  height: 5rem;
  background-color: rgb(146, 200, 244);
  border: 0.2rem solid rgb(210, 233, 252);
}

div.selected {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  color: rgb(210, 233, 252);
  background-color: rgb(3, 90, 203);
}

div.board:hover {
  background-color: rgb(3, 90, 203);
  cursor: pointer;
}
